<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buscar Pelicula</title>
  </head>
  <body>

    <form action="/AppCoder/resultadoPelicula/" method="GET"> 

        <input type="text" name="pelicula" id="pelicula" required>
    
        <input type="submit" value="Buscar" />
    </form>
    <a class="" href="{% url 'Inicio' %}">Volver a Inicio</a>
    {% if peliculas %}
        {% for pelicula in peliculas %}
        <ul>
            <li> {{pelicula.nombre}} </li>
        </ul>
        {% endfor %}
    {% else %}
        <h3>Pelicula no encontrada</h3>
    {% endif %}
  </body>
</html>