{% extends "AppCoder/padre.html" %}
{% load static %}
  {% block contenidoCambia %}
    <form action="/AppCoder/resultadoPelicula/" method="GET"> 

        <input type="text" name="pelicula" id="pelicula" required>
    
        <input class="btn btn-success" type="submit" value="Buscar" />
    </form>
    <a class="btn btn-dark mt-4" href="{% url 'Inicio' %}">Volver a Inicio</a>
    {% if peliculas %}
        {% for pelicula in peliculas %}
        <div class="card mt-4" style="width: 18rem;">
            <div class="card-body">
                <p>{{pelicula.nombre}} </p>
            </div>
        </div>
        {% endfor %}
  {% endif %}
{% endblock %}