<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buscar Notas</title>
  </head>
  <body>

    <form action="/AppCoder/resultadoNota/" method="GET"> 

        <input type="text" name="nota" id="nota" required>
    
        <input type="submit" value="Buscar" />
    </form>
    <a class="" href="{% url 'Inicio' %}">Volver a Inicio</a>
    {% if notas %}
        {% for nota in notas %}
        <p> {{nota.mensaje}} </p>
        {% endfor %}
    {% else %}
        <h3>Nota no encontrada</h3>
    {% endif %}
  </body>
</html>