{% extends "AppCoder/padre.html" %}
{% load static %}

{% block contenidoCambia %}
    <!-- Contenido Formulario -->
  <!--   <h2>Contactos</h2>
    {% if miFormulario.errors %}
        <p>Error al enviar</p>
    {% endif %}
    <form action="" method="POST">{% csrf_token %}
        <table>
            {{miFormulario.as_table}}
        </table>
        <input type="submit" value="Enviar">
    </form> -->
    <a href="{% url 'BuscarContacto' %}" class="btn btn-info">Buscar Contacto</a>
    <a href="{% url 'List' %}" class="btn btn-warning">Lista de Contactos</a>
    <a href="{% url 'New' %}" class="btn btn-success">Agregar Contacto</a>
{% endblock %}