{% extends "AppCoder/padre.html" %}
{% load static %}

{% block contenidoCambia %}
    {% for contacto in object_list %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">{{nota.mensaje}}</p>
                <a href="{% url 'DetailNota' nota.id %}" class="btn btn-primary">Ver</a>
                <a href="{% url 'EditNota' nota.id %}" class="btn btn-primary">Editar</a>
                <a href="{% url 'DeleteNota' nota.id %}" class="btn btn-primary">Eliminar</a>
            </div>
        </div>
    {% endfor %}
    <a href="{% url 'NewNota' %}" class="btn btn-success">Agregar nota</a>
    <a href="{% url 'Notas' %}" class="btn btn-warning">Volver</a>
{% endblock %}