{% extends "AppCoder/padre.html" %}
{% load static %}

{% block contenidoCambia %}
    <!-- Contenido Peliculas -->
    <h2>Notas</h2>
    {% if miFormulario.errors %}
        <p>Error al enviar</p>
    {% endif %}
    <form action="" method="POST">{% csrf_token %}
        <table>
            {{miFormulario.as_table}}
        </table>
        <input class="btn btn-success mt-4" type="submit" value="Enviar">
    </form>
    <a class="btn btn-primary mt-4" href="{% url 'BuscarNota' %}">Buscar Nota</a>
    <a class="btn btn-info mt-4" href="{% url 'ListaNotas' %}">Lista de Notas</a>
{% endblock %}